.break-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #D8E9A8;
  color: black;
  font-weight: 800;
  border: 5px solid #4E9F3D;
}
.break-container h1 {
  font-size: 38px;
  font-family: acme;
  color: #000;
  margin-left: 50px;
}



@media (max-width:900px) {

  .break-container h1 {
    font-size: 10px;
  }
}



@media (max-width:1260px) {

  .break-container h1 {
    font-size: 25px;
    margin-left: 20px;
  }
}




@media (max-width:768px) {
  .break-container {
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 160px;
  }
  .break-container h1 {
    font-size: 20px;
    margin-left: 20px;
  }
}


@media (max-width:480px) {
  .break-container {
    height: 50px;
    width: 100%;
    font-size: 10px;
    margin-top: 250px;
    margin-bottom: -70px;
  }
  .break-container h1 {
    font-size: 12px;
    margin-left: 20px;
  }
  
}